:root {
  /* --first-color: #564145;  */
  /* --background: #FFF5F8; */
  --first-color: #4F1C09;
  --dark: #352D30;
  --light: #FFECED;
  --light-transparent: rgb(255, 236, 237, 0.8);
  --light-invisible: rgb(255, 236, 237, 0.3);
  --second-light: #F9EFF2;

  --scuro: #324B4D;

  --background: #F0F0F0;
  --title-color: #9E6424;
  --about_me_text: #E9E8E3;
  --text_black: #293133;
}



body {
  /* background-color: #A7727D; */
  /* background-color: #FAF9F9; prefe++ */
  /* background-color: #F0F4F6; */
  background-color: var(--background);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Aboreto';
  /* color: var(--first-color); */
}

p {
  font-family: 'Roboto';
  /* color: var(--first-color); */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--light);
  opacity: 1; /* Firefox */
}

/* SCROLLBAR */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  display: none;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1ex;
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

html {
  scroll-snap-type: y mandatory;
}